// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.edit-page {
  float: right;
}


.footer-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .tag {
    padding: 0 30px;
    border-bottom: 1px;
  }

}
